.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
#chart {
  height: 360px;
  position: relative;
  width: 360px;
}
.pie-chart-tooltip {
  background: rgb(255, 236, 96);
  box-shadow: 0 0 5px #999999;
  color: black;
  display: none;
  font-size: 15px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}